/* CSS reset start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* CSS reset end*/
body {
  font-family: 微軟正黑體;
  line-height: 1.5;
	color: #4C230A;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
	background: #F5E9E2;
}

/*************
		Header
**************/

.header {
  background: url('../img/header_desktop.png') no-repeat center center;
  height: 420px;
  position: relative;
}

.header .nav {
  background-color: rgba(0,0,0,0.6);
  height: 50px;
}

.header h1 {
  float: left;
}

.header h1 a {
  display: block;
  background: url('../img/logo_w@svg.svg');
  width: 120px;
  height: 24px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0 0 20px;
}

.menu {
  float: right;
  margin-right: 1em;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  padding: 1em;
  color: #fff;
  margin-right: 1em;
  letter-spacing: 2px;
}

.cover {
  text-align: center;
  margin-top: 5em;
}

.cover .cover-caption {
  display: inline-block;
  margin: 0 auto;
  padding: 2em 4em;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.cover-caption h2 {
  font-size: 2.2em;
  margin-bottom: 1em;
}

.cover-caption p {
  font-size: 1.2em;
  color: rgba(255,255,255,0.8);
}

.cover-caption p span {
	margin: 0 1px;
}


/*************
	Top Content
**************/

.top-content {
	padding: 2em 0;
	background: #F5E9E2;
}

.top-content-title {
	text-align: center;
	width: 461px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid;
	position:relative;
}

.top-content-title h2 {
	font-size: 1.2em;
	font-weight: bold;
	width: 220px;
	position: absolute;
	margin: 0 5px;
	z-index: 100;
	left: 120px;
	bottom: -29px;
	background: #F5E9E2;
}

.top-content ul {
	margin-top: 4em;
}

.top-content ul li{
	float: left;
	width: 31.333333%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1em;
}

.top-content ul li img {
	display: block;
	border-radius: 50%;
	width: 80%;
	margin: 0 auto;
}

.top-content li h3 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.5em;
}

.top-content li p {
	padding-left: 1em;
}

@media (max-width: 768px) {
	.top-content ul {
		margin-top: 2em;
	}

	.top-content ul li{
		float: left;
		width: 33.333333%;
		margin-left: 0;
		margin-right: 0;
	}

	.top-content ul li img {
		width: 90%;
	}

	.top-content li h3 {
		margin-top: 10px;
	}
}

/*************
Middle Content
**************/

.middle-content {
	background: #4C230A;
	color: #fff;
}

.middle-content img, .chef-intro{
	display: block;
	float: left;
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
}

.middle-content img {
	min-height: 100%;
}

.chef-intro {
	padding-top: 5em;
}

.chef-intro h3 {
	font-size: 1.4em;
}

/*************
Bottom Content
**************/

.bottom-content {
	padding: 2em 0;
	background: #F5E9E2;
}

.bottom-content h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
	margin-bottom: 1.5em;
}

.bottom-content ul li {
	width: 31.33333%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1em;
}

.bottom-content li img {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	float: left;
}

.review {
	margin-left: 73px;
	padding-top: 2em;
}

.review h5 {
	font-weight: bold;
	margin-bottom: 1em;
}

.review .job-title {
	text-align: right;
}

/*************
	Reservation
**************/

.reservation {
	background: #EFEFEF;
	padding-top: 1em;
	padding-bottom: 2em;
	padding-right: 2em;
}

.reservation h2 {
	text-align: center;
	font-weight: bolder;
	font-size: 1.5em;
	margin: 1em 0;
}

.reservation .map,
.reservation .reserve-form {
	float: left;
}

.reservation .map {
	width: 45%;
	margin: 0 1% 0 4%;
}

.map img {
	display: block;
}

.reserve-form {
	width: 45%;
	margin: 0 2.5%;
}

.reserve-form .form-style {
	margin-bottom: 0.5em;
}

.reserve-form label {
	display: block;
	font-weight: bold;
}

.reserve-form .input-style {
	width: 100%;
	height: 2em;
	margin-top: 6px;
}

.vegetarian {
	display: inline-block;
	margin-top: 5px;
	margin-right: 25px;
}

/* buttons */

.reservation .btn {
	float: right;
	padding: 10px 20px;
	margin-left: 10px;
	border: none;
	cursor: pointer
}


.btn-cancel {
	background: #a1a5ad;
	color: #fff;
}

.btn-cancel:hover {
	background: #575f6d;
}

.btn-submit {
	background-color: #f2861a;
	color: #fff;
}

.btn-submit:hover {
	background: #ce6b08;
}

/*************
	Footer
**************/

.footer {
	padding: 3em 1.5em;
}

.footer .col {
	float: left;
	width: 31.333333%;
	margin-left: 1%;
	margin-right: 1%;

}

.footer h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.footer ul {
	list-style: initial;
	list-style-position: inside;
}

.footer h2 a {
	display: block;
	float: right;
	background-image: url('../img/logo_l(null).svg');
	width: 243px;
	height: 48px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.social-icons {
	margin-top: 1em;
	float: right;
}

.social-icons li {
	float: right;
	list-style: none;
	margin-left: 0.8em;
}

.fa-facebook-square {
	color: #3B5998;
}

.fa-twitter-square {
	color: rgb(29, 202, 255);
}

.fa-google-plus-square {
	color: #d34836;
}
